# ENV
/.venv/

# TEMP LOG
**/__pycache__/
*.pyc
**/.mypy_cache/
*.log

# UNNECESSARY
/data/history/personal/
/data/history/battles/
/data/history/doubt/
/data/history/power/
/data/history/power_failed/
/data/herorank/
/resources/wzry_images/skins/
/resources/wzry_images/generated/
/resources/wzry_images/kpl/
/resources/wzry_images/tmp/
/file_transfer/
/hok/debug_tools/*/
!/hok/debug_tools/AGENTS.md
emojiref.json

